<div class="container">
    <form class="m-5">
    
    <div>
        <div class="mt-5">
            <input class="form-control" type="text" name=nome [(ngModel)]="cidade.nome">
       
            <button class="btn btn-primary" type="button" name="button" (click)="adicionar()">Adicionar</button>
        </div>

    </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Cidade</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cidade of cidades$ | async" >
                <td>
                    {{cidade.nome}}
                </td>
                <td>
                        <button type="button" class="btn btn-outline-primary fas fa-trash-alt" (click)="deletar(cidade.id)"></button></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary fas fa-edit" (click)="editar(cidade)"></button>
                    </td>
            </tr>

        </tbody>
    </table>

</div>
