<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body class="container">
    <h1>Projeto Sendo Criado para entrega :</h1>
    <p><strong>Dificuldades / Erros</strong></p>
    <h1>1</h1>
    <p>Projeto dando erro na hora da criação erro = " <strong>node_modules/rxjs/internal/types.d.ts(81,44): error
            TS1005: ';' expected</strong> " corrigido com " <strong>npm install rxjs@6.0.0 --save</strong> "</p>
    <h1>2</h1>
    <p>Projeto Erro = <strong> "Module not found: Error: Can't resolve '@angular/forms' in
            'C:\Users\joao\Documents\Projetos\Trabalho_Angular\src\app' " </strong> corrigido com / <strong>npm install
            @angular/forms --save</strong></p>
    <h1>3</h1>
</body>

</html>