<div class="container">

    <form class="m-5">

        <div class="row">
            <div>
                <input class="form-control" type="text" name="nome" [(ngModel)]="estado.nome">
            </div>

            <div>
                <input class="form-control" type="text" name="sigla" [(ngModel)]="estado.sigla">
            </div>

            <div>
                <button class="btn btn-primary" type="button" name="button" (click)="adicionar()">Adicionar</button>
            </div>

        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th><strong>Estado</strong></th>
                <th><strong>Sigla</strong></th>
                <th><strong>Excluir</strong></th>
                <th><strong>Alterar</strong></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let estado of estados$ | async">
                <td>
                    {{estado.nome}}
                </td>
                <td>
                    {{estado.sigla}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary fas fa-trash-alt" (click)="excluir(estado.id)"></button></td>
                <td>
                    <button type="button" class="btn btn-outline-primary fas fa-edit" (click)="alterar(estado)"></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>