<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header class="navbar navbar-extend-md   bg-primary">
    <nav>
      <a class="text-white nav-link" routerLink=''>Home</a>
      <a class="text-white nav-link" routerLink='sobre' >Sobre</a>
      <a class="text-white nav-link" routerLink='soma' >Forms</a>
    </nav>
    <nav class="col-lg">
      <a class="text-white nav-link" routerLink='array'>Estado</a>
      <a class="text-white nav-link" routerLink='categoria'>Categoria</a>
    </nav>
  </header>
</div>

<router-outlet></router-outlet>
