<div class="container">
    <form class="m-5">
        <div class="row">
            <div>
                <input class="form-control" type="text" name="nome" [(ngModel)]="servico.categoria.nome">
            </div>
            <div>
                <input class="form-control" type="text" name="nome" [(ngModel)]="servico.categoria.descricao">
            </div>
            <div>
                <button class="btn btn-primary" type="button" (click)="adicionar()">Adicionar</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Excluir</th>
            <th>Editar</th>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of servico.listaCategoria; let i = index">
                <td>
                    {{categoria.nome}}
                </td>
                <td>
                    {{categoria.descricao}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary fas fa-trash-alt"
                        (click)="excluir(i)"></button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary fas fa-edit" (click)="editar(i)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>